.product {
    font-family: sans-serif;
    font-weight: bold;
    width: 280px;
    height: 450px;
    background-color: #dbdbdb;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
    border: 3px solid;
    border-image: linear-gradient(0deg, rgb(0, 7, 3), rgb(254, 254, 254)) 1;
}
.product-image{
    width: 250px;
}